/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 28 jun. 2022, 01:23:22
    Author     : kevin
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open sans';
}

body{
    background-image: url(img/fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 15px;
}

.form{
    width: 450px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    background: rgba(15, 50, 72, 0.3);
    border-radius: 5px;
}

.titulo{
    color: #1d4169;
    margin-bottom: 20px;
}

.cajas{
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 2px;
    border: none;
    border-left: 10px solid #d9e4ea;
    transition: all .5s ease;
}
.cajas:hover, .cajas:focus{
    border-left: 10px solid #1a4c7e;
}

.termino1{
    text-align: center;
    color: #3b3b3b;
}
.termino2{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}
.termino2:hover{
    color: #dbdbdb;
}

.btn{
    width: 100%;
    padding: 15px;
    border-radius: 2px;
    border: none;
    margin: 20px 0;
    font-size: 15px;
    background: white;
    color: #0b76a6;
    cursor: pointer;
    transition: all .5s ease;
}
.btn:hover{
    background: #0b76a6;
}

.tengo-cuenta{
    text-align: center;
    color: #0b76a6;
    font-weight: bold;
    text-decoration: none;
}
.tengo-cuenta:hover{
    color: #dbdbdb;
}

h1 {
font-size: 464%;
}
i {
font-size: 214%;
}
img {
width: 99.5%;
}
.division0 {
  background: #d9d9d9; 
  margin: 5%; 
  padding: 2%;
  text-align: center;
}
.division1 {
  background: white;
  margin: 2%;
}
.division2 {
            text-align: left; 
            margin-top: 0%;
            margin-bottom: 0%;
            margin-left: 21%;
            margin-right: 21%;
}
.ejemplo {margin: 0px 40px 0px 0px;
    color: black;
    background-color: lightgray;
}
.logo img{
    width: 200px;
    margin: 10px 260px;
}
.logo1 img{
    width: 300px;
    margin: 10px 220px;
}